CONFIG_PACKAGE_luci-app-passwall2=m
CONFIG_PACKAGE_luci-app-passwall2_Nftables_Transparent_Proxy=y
CONFIG_PACKAGE_luci-app-passwall2_Basic_Core_All=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_V2ray_Plugin=y
CONFIG_PACKAGE_luci-i18n-passwall2-zh-cn=m
CONFIG_PACKAGE_xray-core=m
CONFIG_PACKAGE_sing-box=m
CONFIG_PACKAGE_tcping=m
CONFIG_PACKAGE_v2ray-geoip=m
CONFIG_PACKAGE_v2ray-geosite=m
CONFIG_PACKAGE_v2ray-plugin=m
CONFIG_PACKAGE_geoview=m
